@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Russo+One&display=swap');

#color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#color-1 {
    background-color: #0081af;
}

#color-2 {
    background-color: #00abe7;
}

#color-3 {
    background-color: #2dc7ff;
}

#color-4 {
    background-color: #ead2ac
}

#color-5 {
    background-color: #eaba6b;
}

.display-color {
    border: 1px solid black;
}

h1, h2, h3, h4 {
    font-family: 'Russo One', sans-serif;
}

h1, h2, h3, h4, p {
    text-align: center;
}

header {
    background-color: #0081af;
}

img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p, li {
    font-family: 'Nunito', sans-serif;
}