@media only screen and (min-width: 32em) {
  #hero a {
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
  }

  ul li {
    text-align: center;
  }

  #ads-body {
    display: flex;
  }

  .event-ad {
    max-width: 500px;
  }
}
