@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Russo+One&display=swap");

:root {
  --paragraph-font: "Nunito", sans-serif;
  --header-font: "Russo One", sans-serif;

  --cerulean: #0081af;
  --picton-blue: #00abe7;
  --vivid-sky-blue: #2dc7ff;
  --wheat: #ead2ac;
  --earth-yellow: #eaba6b;
}

#hero a {
  font-size: 2em;
  font-family: var(--header-font);
  margin: 4em;
  padding: 0.5em;
  color: black;
  background-color: var(--picton-blue);
}

a {
  text-decoration: none;
}

a,
li,
p {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  margin: 0.5em;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  list-style-type: none;
}

li {
  margin-left: 0.5em;
}

ul {
  padding: 0;
  margin: 0;
}

.home-section {
  border: 3px solid black;
  margin: 1em;
}

.event-ad {
  max-width: 90%;
}