h1,
h2,
h3,
h4,
p {
  text-align: center;
}

.mini-header {
  margin: 0.5em;
}

#color-grid {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 1px solid black;
}

.display-color p {
  padding: 1em;
}

#color-1 {
  background-color: var(--cerulean);
}

#color-2 {
  background-color: var(--picton-blue);
}

#color-3 {
  background-color: var(--vivid-sky-blue);
}

#color-4 {
  background-color: var(--wheat);
}

#color-5 {
  background-color: var(--earth-yellow);
}

@media only screen and (min-width: 32em) {
  #color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 60%;
  }
}
