@media only screen and (min-width: 32em) {
  #hero a {
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
  }

  ul li {
    text-align: center;
  }

  #ads-body {
    display: flex;
  }

  .event-ad {
    max-width: 500px;
  }

  /****DISCOVER****/

  #discover-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  #discover-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--earth-yellow);
  }

  #show-sidebar {
    display: none;
  }

  .sidebar-thingy li {
    text-align: left;
    padding: 0.5em;
  }

  #discover-true {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #discovery-visits {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .discovery-attraction:hover {
    background-color: var(--vivid-sky-blue);
  }

  /****JOIN****/

  #join-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  #benefits {
    display:block;
    background-color: var(--earth-yellow);
  }

  #benefits h3 {
    text-align: center;
  }

  #benefits li {
    padding: 0.5em;
    font-weight: bold;
  }

  form {
    max-width: 90%;
    margin-left: 1em;
  }

  #info-button {
    display: none;
  }

  /****DIRECTORY****/

  #directory-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #directory-list {
    max-width: 90%;
    margin: 0.5em auto;
  }
}
