@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Russo+One&display=swap");

:root {
  --paragraph-font: "Nunito", sans-serif;
  --header-font: "Russo One", sans-serif;

  --cerulean: #0081af;
  --picton-blue: #00abe7;
  --vivid-sky-blue: #2dc7ff;
  --wheat: #ead2ac;
  --earth-yellow: #eaba6b;
}

a {
  text-decoration: none;
}

a,
li,
p {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  margin: 0.5em;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  list-style-type: none;
}

li {
  margin-left: 0.5em;
}

ul {
  padding: 0;
  margin: 0;
}

/****HOME PAGE****/

#hero a {
  display: block;
  margin: 1em;
  font-size: 2em;
  font-family: var(--header-font);
  text-align: center;
  padding: 0.5em;
  color: black;
  background-color: var(--picton-blue);
}

#hero a:hover {
  background-color: var(--wheat);
}

.home-section {
  border: 3px solid black;
  margin: 1em;
}

.home-section {
  text-align: center;
}

.event-ad {
  max-width: 90%;
}

/****DISCOVER****/

#show-sidebar {
  border: none;
  background-color: var(--vivid-sky-blue);
  margin: 1em;
  padding: 1em;
  border-radius: 15em;
}

#show-sidebar::before {
  content: "Show sidebar content";
  font-family: var(--paragraph-font);
}

#show-sidebar.open::before {
  content: "Hide sidebar content";
}

#discover-sidebar {
  display: none;
}

#discover-sidebar.open {
  display: block;
}

.sidebar-thingy {
  display: block;
  border: 1em solid var(--cerulean);
  background-color: var(--wheat);
  margin: 1em;
}

#discovery-visits {
  text-align: center;
}

.discovery-attraction {
  border: 0.5em solid var(--cerulean);
  margin: 1em;
  background-color: var(--wheat);
  padding: 1em;
}

.discovery-attraction img {
  width: 80%;
}

.discovery-attraction p {
  text-align: center;
  font-weight: bold;
}

/****JOIN****/

#benefits {
  display: none;
}

label {
  margin: 1em;
  font-family: var(--paragraph-font);
}

.top {
  display: block;
  padding-top: 1rem;
  font-weight: bold;
}

.required-field {
  color: red;
}

.top input,
textarea {
  display: block;
  height: 44px;
  width: 90%;
  padding: 0.75rem;
  border: 1px solid black;
  border-radius: 10px;
}

#info-button {
  margin-left: 2em;
  border: none;
  background-color: var(--picton-blue);
  color: white;
  padding: 1em;
  border-radius: 15px;
}

#membership-info-mobile {
  display: none;
}

#membership-info-mobile.open {
  display: block;
  padding: 1em;
  background-color: var(--earth-yellow);
  border-radius: 15px;
}

.sbs {
  display: flex;
}

#submitButton {
  width: 100%;
  margin-bottom: 1em;
  border: none;
  background-color: var(--cerulean);
  padding: 1.6em;
  color: white;
  font-family: var(--paragraph-font);
  font-weight: bold;
  border-radius: 15px;
}

#submitButton:hover {
  background-color: var(--wheat);
  color: black;
}

#thankyou-main h1,
#thankyou-main h3 {
  text-align: center;
  padding-bottom: 2em;
}

/****DIRECTORY****/

#directory-main h1 {
  text-align: center;
}

.center-container {
  display: block;
  text-align: center;
}

#toggle-view {
  font-family: var(--paragraph-font);
  border: none;
  background-color: var(--picton-blue);
  font-weight: bold;
  padding: 1em;
  border-radius: 15px;
  margin: 0.5em;
}

#toggle-view::before {
  content: "Show List View";
}

#toggle-view.list-view::before {
  content: "Show Grid View";
}

#directory-grid {
  display: grid;
  grid-template-columns: 1fr;
}

#directory-grid.list-view {
  display: none;
}

.business-section {
  border: 1em solid var(--picton-blue);
  width: 85%;
  margin: 1em auto;
  background-color: var(--wheat);
}

.business-section img {
  border: 2px solid black;
  margin: 0.25em auto;
}

.business-section a {
  display: block;
  text-align: center;
  font-size: 1.75em;
  color: black;
  margin: 0.5em;
}

.business-section button {
  border: none;
  font-family: var(--paragraph-font);
  background-color: var(--cerulean);
  color: white;
  padding: 0.5em;
  border-radius: 7px;
  margin: 0.5em;
}

.business-section button::before {
  content: "Show Details";
}

.business-section button.showing-details::before {
  content: "Hide Details";
}

.business-section ul {
  display: none;
}

.business-section ul.showing-details {
  display: block;
}

.business-section ul li {
  margin: 0.5em;
}

#directory-list {
  display: none;
}

#directory-list.list-view {
  display: flex;
  flex-direction: column;
  background-color: var(--earth-yellow);
}

#directory-list ul {
  padding: 1em;
}

#directory-list ul:nth-child(even) {
  background-color: var(--wheat);
}

#directory-list ul li a {
  color: black;
  font-weight: bold;
}

#directory-list ul li a:hover {
  background-color: var(--cerulean);
  color: white;
}